


.cen { text-align: center; }
.izda { text-align: left; }
.dcha { text-align: right; }
.jus { text-align: justify; }

.top { vertical-align: top; }
.mid { vertical-align: middle; }
.bot { vertical-align: bottom; }
