{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Listar();
        });

        function Listar() {
            var str = '';
            $.ajax({
                type: 'GET',
                url: 'http://127.0.0.1:8000/public/api/',
                success: function (datos) {
                    // alert(datos);
                    // var jSon = eval(datos);
                    $.each(datos, function (i, item) {
                        str += '<p>' + item.titulo + '</p>';
                    });
                },
                error: function () {
                    alert(" No");
                },
                complete: function () {
                    $("#out").html(str)
                }
            });
        } 
    </script>
</head>

<body>

</body>
<div id="out">

</div>

</html>